In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
#Task 1
data = pd.read_csv('/content/sample_data/ratings.csv')
data.head(10)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510
5       1     1088     4.0  1147868495
6       1     1175     3.5  1147868826
7       1     1217     3.5  1147878326
8       1     1237     5.0  1147868839
9       1     1250     4.0  1147868414

In [ ]:
highest_rating = data['movieId'][data.rating == 5].value_counts()

In [ ]:
highest_rating.head(1)

318    1364
Name: movieId, dtype: int64

In [ ]:
#Task 2
data_n = pd.read_csv('/content/sample_data/power.csv')
data_n.head()

   country    year  quantity  category
0  Austria  1996.0       5.0       1.0
1  Austria  1995.0      17.0       1.0
2  Belgium  2014.0       0.0       1.0
3  Belgium  2013.0       0.0       1.0
4  Belgium  2012.0      35.0       1.0

In [ ]:
filtered_countries = data_n[(data_n['country'] == 'Latvia') | (data_n['country'] =='Lithuania') | (data_n['country'] =='Estonia')]
filtered_category = filtered_countries[(filtered_countries.category == 4) | (filtered_countries.category == 12) |(filtered_countries.category == 21)]
filtered_year = filtered_category[(filtered_category.year == 2005) |(filtered_category.year == 2006)|(filtered_category.year == 2007)|(filtered_category.year == 2008) | (filtered_category.year == 2009) | (filtered_category.year == 2010)]
filtered_year[filtered_year.quantity > 0].sum()

country     EstoniaEstoniaLithuaniaLithuaniaLithuaniaEston...
year                                                 696607.0
quantity                                             240580.0
category                                               5943.0
dtype: object

In [ ]:
#Task 3

page_url = 'https://fortrader.org/quotes'
data_html = pd.read_html(page_url, attrs = {'class': 'fx-menu__row clearfix'}, encoding='utf-8')
data_html[:5]

In [ ]:
!pip3 install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)