In [ ]:
import pandas as pd
import re

In [ ]:
data = pd.read_csv('/content/sample_data/video_games.txt')
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN


Как критики относятся к спортивным играм?
Гипотезы

H0 = оценка критиков по спортивным играм <= 5 H1 = оценка критиков по спортивным играм > 5

In [ ]:
sports_filterd = data[data['Genre'] == 'Sports']
sports_filterd[sports_filterd['Critic_Score'].notna()]['Critic_Score']

0        76.0
3        80.0
13       80.0
15       80.0
77       82.0
         ...
16456    78.0
16478    57.0
16532    78.0
16550    78.0
16555    88.0
Name: Critic_Score, Length: 1194, dtype: float64

In [ ]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(sports_filterd[sports_filterd['Critic_Score'].notna()]['Critic_Score'], 5, alternative='greater')

print(sports_filterd[sports_filterd['Critic_Score'].notna()]['Critic_Score'].mean())
print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, средняя оценка больше 5')
else:
    print('Не отвергаем нулевую нулевую гипотезу, спортивные игры не нравятся критикам')

TypeError: ignored